# mkdocs
site/

# Cube Projects
Build/
Debug/
Release/
.metadata/
.settings/
RemoteSystemsTempFiles/
Drivers/
src/**/cmake/stm32cubemx/

*.chm
*.settings.xml

*.xml
*.launch

# macOS
.DS_Store

# Python
.venv/
venv/

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*-prefix/

# Editors
.idea
.vscode
src/**/.idea
src/**/.vscode
src/bmc/.cache/clangd/index
src/bmc/.clangd
src/bmc/build/.cmake/api/v1/query/client-neocmake
